<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div style="background-image: url('{{ asset('img/Fond_Inscription-connexion_Menu_V2.png') }}');">
    <img src="{{ asset('img/Logo_Traveled_V4.png') }}" />
    Bienvenue sur traveled.
    Voici votre login : login
</div>
</body>
</html>
