<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body style="height: 100vh; width: 100vw">
<div style="background-image: url('https://image.ibb.co/eeLjc8/Fond_Inscription_connexion_Menu_V2.png'); -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: 100% 100vh;height: 100vh;">
    <div style="text-align: center">
        <img style="margin: 40px;margin-top: 20vh;margin-bottom: 10vh;" src="https://image.ibb.co/faV6qT/Logo_Traveled_V4.png" />
        <br><span style="color: white;font-size: 55px;font-family: cursive;">Bienvenue sur traveled. <br></span>
        <hr style="width: 50%; margin-top: 4vh; margin-bottom: 4vh;">
        <span style="color: white;font-size: 55px;font-family: cursive;margin-bottom: 400px;">Voici votre login : {{ login }} <br></span>
    </div>
</div>
</body>
</html>
