<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div style="background-image: url('{{ asset('img/Fond_Inscription-connexion_Menu_V2.png') }}');">
    <div style="text-align: center">
        <img style="margin: 40px;" src="{{ asset('img/Logo_Traveled_V4.png') }}" />
    <span style="color: white;font-size: 25px;font-family: initial;margin-bottom: 400px;">Bienvenue sur traveled. <br>Voici votre login : login</span>
    </div>
</div>
</body>
</html>
